<%- include ("partials/header") %>

<div class="container">
	<h1>User List Page</h1>

	<% user.forEach(function(users){ %>
		
		<p>
		<h3><%= users.username %></h3>
		<% if(currentUser && users._id.equals(currentUser._id)){ %>
			<div class="text-left">
			<a class="btn btn-xs btn-warning" href="/<%=users._id %>/edit">
				Edit
			</a>
			<form id="delete-form" action="/<%=users._id %>?_method=DELETE" method="POST">
				<input class="btn btn-xs btn-danger" type="submit" value="Delete">
			</form>
			</div>
			<% } %>
		</p>
	<% }) %>

</div>

<%- include ("partials/footer") %>